
<%- include('./partials/header') %>
<%- include('./partials/navbar') %>


<div class="max-wid_1 m-auto"><hr></div>

<%- include('./partials/flash') %>

<div class="post-img max-wid_1 m-auto m-2">
        <img class="m-auto" src="<%= blog.img %>" alt="">
    </div>
    <div class="max-wid_1 m-auto"><hr></div>
    <div class="blog-content max-wid_1 m-auto m-2">
        <h1><%= blog.title %></h1>
        <div class="blog-info">
            <div class="auth-info">
                <b>
                    <div><%= blog.author %></div>
                </b>
                <div><%= blog.updatedAt.toDateString() %></div>
            </div>
            <div class="social">
                <% if(user.twitter){ %>
                    <a href="<%=user.twitter%>" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                <% }else{ %>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <% } %>
                <% if(user.insta){ %>
                    <a href="<%=user.insta%>" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <% }else{ %>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <% } %>
            </div>
        </div>
        <p class="mb-3"><%= blog.content %></p>
        <% if(currentUser && currentUser.username === blog.author){%>
        <div class="mb-4">
            <a href="/blogs/<%=blog._id%>/edit" class="btn">Edit</a>
            <form action="/blogs/<%= blog._id %>/delete?_method=delete" method="post" class="d-inline-block">
                <button class="btn">Delete</button>
            </form>
        </div>
        <%}%>
    </div>

    <%- include('./partials/rights') %>
    <%- include('./partials/footer') %>